body{
    padding: 1%;
    margin: 1% 1%;
    background-color:azure;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  

/* NAVBAR */

.navbar{
    
    padding:0 0 0;
    width:100%;
 }
 
 .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
 }
 
 .nav-item{
    padding: 0 1px;;
 }
 
 .nav-link{
    font-size:1.2rem;
    font-family: "Montserrat";
    font-weight: light;
 }
 

 /* Cover Photo */


.cover-photo{
    object-fit: cover;
    text-align: center;
    margin: 0 1%;
    position: relative;
    z-index: 0;
}

 .cover-photo img{
    object-fit: cover;
    width: 90%;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;
 }


/* Profile Details */

@media (max-width:991px) {
    .profile-section{
        text-align: center;
    }
    .profile-photo img{
        display: block;
        text-align: center;
    }

    /* .profile-photo{
        height: 25vw;
    } */
}
 .profile-section{
    margin: 0 6%;
    height: auto;
    position: relative;
    
 }

 .profile-photo{
    position:static;
    z-index: 1;
    height: 150px;
    border-radius: 50%;
    text-align: center;
 }

 .profile-photo img{
    position: relative;
    /* display: flex; */
    top: -50%;
    /* left: 60px; */
    height: 200px;
    overflow: hidden;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
 }

 /* .picture .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    margin: 0 5% 5% 0;
    transition: all 0.3s ease;
  }
  
  .picture:hover .overlay {
    display: block;
    width: 100%;
  } */

 .profile-details{
    position: relative;
    vertical-align: bottom;
 }

 .profile-details h3{
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    font-style: bold;
 }

 .profile-details h5{
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
 }

 .profile-name,.followers-posts{
    
    /* text-align: center; */
    vertical-align: middle;
 }

 .follow-button{
    /* visibility: hidden; */
    display: none;
 }

/* .post{
    padding: 2%;
}

 .post img{
    object-fit: cover;
    padding: 2%;
    height: 40vw;
    width: 40vw;
 } */


 .post-section h5{
    line-height: 2rem;
 }

  .hover-img {
    background-color: #000;
    color: #fff;
    display: inline-block;
    /* margin: 1px; */
    /* max-width: 320px;
    min-width: 100px; */
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0%;
  }
  
  .hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
    padding: 0%;
  }
  
  .hover-img::before,
  .hover-img::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .hover-img img {
    vertical-align: middle;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .hover-img:hover::before,
  .hover-img:hover::after {
    transform: scale(1);
    opacity: 1;
  }
  
  .hover-img:hover > img {
    opacity: 0.9;
  }
  
  .hover-img:hover figcaption {
    opacity: 1;
  }

  figcaption h5{
    user-select: none;
  }